@font-face {
    font-family: 'RobotoMedium';
    src: url('/assets/Roboto-Medium.ttf') format('truetype');
}

html, body {
    font-family: 'RobotoMedium', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
}

body {
    background-image: url('/chat/wallbackground.jpg');
}

#message-input {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    resize: none;
    background-color: grey;
    box-sizing: border-box;
    font-size: xx-large;
}